@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-image: url('clouds-on-blue-sky-vector.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}

.mommy {
    display: flex;
    justify-content: space-around;
}

.left-half {
    width: 40%;
}

.right-half {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3 {
    font-family: 'Arvo', sans-serif
}

p {
    font-family: 'Raleway', monospace;
}

h1 {
    font-size: 2em;
}

.intro-section {
    background-color: white;
    opacity: 70%;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

.pixel {
    height: 50px;
    width: 50px;
    border: 2px solid black;
}

.color-palette {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    gap: 5px;
}

.color-circle {
    height: 40px;
    width: 40px;
    background-color: white;
    border: 3px solid white;
    border-color: white;
    border-radius: 50%;
    display: inline-block;
}

#eraser {
    height: 40px;
    width: 40px;
    background-color: white;
    border: 3px solid white;
    border-color: white;
    border-radius: 50%;
    display: inline-block;
    background-image: url("eraser.png");
    background-position: center;
    background-size: 85%;
    visibility: hidden;
}

.grid-class {
    display: grid;
    margin: auto;
    margin-bottom: 3em;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
    padding-right: 15px;
}

.grid2-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#img-vin {
    background-image: url("./Bio_Image_Vin_1.jpg");
}

#img-sam {
    background-image: none;
}

#img-vic {
    background-image: url("./old_victor.jpg");
}

.creator-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.creator {
    width: 350px;
    margin: 0px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.creator-wrapper {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

#about-title {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

#button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

input {
    background-color: rgb(181, 255, 193);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* .game-container {
    margin: 40px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .game-container {
        flex-direction: row;
    }
} */